body {
    background-color: #D5DAFA;
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
}

.header-background {
    position: absolute;
    width: 100%;
    z-index: 0;
    background-image: url(../images/firstEx.jpeg);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
}

.headerMain {
    font-size: 6.1rem;
    color: rgb(76, 61, 145);
    margin: 0;
}

.headerParagraph {
    font-size: 2.1rem;
    color: rgb(76, 61, 145);
}

.header-text {
    position: static;
    text-align: right;
    float: right;
    padding: 208px 15px 209px 0;
    width: 36%;
}

.text-focus-in {
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 0.4s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.no-padding {
    padding: 0;
}

.kenburns-top {
    -webkit-animation: kenburns-top 5s ease-out both;
    animation: kenburns-top 5s ease-out both;
}

/**
 * ----------------------------------------
 * animation kenburns-top
 * ----------------------------------------
 */

@-webkit-keyframes kenburns-top {
    0% {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
        -webkit-transform-origin: 50% 16%;
        transform-origin: 50% 16%;
    }
    100% {
        -webkit-transform: scale(1.25) translateY(-15px);
        transform: scale(1.25) translateY(-15px);
        -webkit-transform-origin: top;
        transform-origin: top;
    }
}

@keyframes kenburns-top {
    0% {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
        -webkit-transform-origin: 50% 16%;
        transform-origin: 50% 16%;
    }
    100% {
        -webkit-transform: scale(1.25) translateY(-15px);
        transform: scale(1.25) translateY(-15px);
        -webkit-transform-origin: top;
        transform-origin: top;
    }
}

@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

#nameMain {
    background-color: #4AC1BD;
    color: white;
    font-size: 3rem;
    width: 100%;
    border-radius: 10px;
    margin-top: 1%;
}

.swing-in-top-fwd {
    -webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

@-webkit-keyframes swing-in-top-fwd {
    0% {
        -webkit-transform: rotateX(-100deg);
        transform: rotateX(-100deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1;
    }
}

@keyframes swing-in-top-fwd {
    0% {
        -webkit-transform: rotateX(-100deg);
        transform: rotateX(-100deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1;
    }
}

@media screen and (max-width: 2560px) {
    .header-text {
        padding: 470px 130px 500px 0;
        width: 33%;
    }
    .headerMain {
        font-size: 9.1rem;
    }
    .headerParagraph {
        font-size: 3.1rem;
    }
}

@media screen and (max-width: 1920px) {
    .header-text {
        padding: 383px 100px 383px 0;
        width: 28%;
    }
    .headerMain {
        font-size: 6.1rem;
    }
    .headerParagraph {
        font-size: 2.1rem;
    }
}

@media screen and (max-width: 1806px) {
    .headerMain {
        font-size: 5.5rem;
    }
    .header-text {
        padding: 340px 100px 340px 0;
        width: 30%;
    }
}

@media screen and (max-width: 1577px) {
    .header-background {
        background-position: 68% 100%;
    }
    .header-text {
        width: 34%;
    }
}

@media screen and (max-width: 1440px) {
    .header-text {
        padding: 218px 100px 196px 0;
        width: 40%;
    }
    .headerMain {
        font-size: 5.1rem;
    }
    .header-background {
        background-position: 68% 100%;
    }
    .headerParagraph {
        font-size: 2.2rem;
    }
}

@media screen and (max-width: 1392px) {
    .header-text {
        width: 42%;
    }
    .header-background {
        background-position: 80% 100%;
    }
}

@media screen and (max-width: 1327px) {
    .header-text {
        width: 45%;
    }
}

@media screen and (max-width: 1230px) {
    .header-text {
        padding: 168px 100px 138px 0;
    }
    .header-background {
        background-position: 88% 100%;
    }
}

@media screen and (max-width: 990px) {
    .header-background {
        background-position: 57% 100%;
    }
    .headerMain {
        font-size: 4.1rem;
    }
    .header-text {
        width: 45%;
        /* padding: 345px 50px 350px 0; */
        padding: 293px 50px 175px 0;
    }
    .headerParagraph {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 767px) {
    .header-text {
        background-color: rgba(255, 255, 255, 0.6);
        margin: 380px 20px 280px 0;
        padding: 10px;
        border-radius: 10px;
        width: 43%;
    }
    .headerMain {
        font-size: 3.6rem;
    }
    .headerParagraph {
        font-size: 1.5rem;
    }
    .header-background {
        background-position: 55% 100%;
    }
}

@media screen and (max-width: 766px) {
    .header-text {
        margin: 180px 20px 180px 0;
    }
}

@media screen and (max-width: 621px) {
    .headerMain {
        font-size: 3.2rem;
    }
    .header-text {
        margin: 190px 20px 120px 0;
    }
}

@media screen and (max-width: 561px) {
    .headerMain {
        font-size: 3rem;
    }
    .header-background {
        background-position: 50% 100%;
    }
    .header-text {
        width: 100%;
        float: none;
        text-align: center;
        margin: 610px 0 70px 0;
    }
    .headerParagraph {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 560px) {
    .header-text {
        margin: 430px 0 50px 0;
    }
}

@media screen and (max-width: 425px) {}

@media screen and (max-width: 320px) {
    .header-background {
        background-position: 49.5% 50%;
    }
    .header-text {
        margin: 430px 0 56px 0;
    }
}